* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  background: #404040
}



#loglogo {
  grid-area: logo;
  background: #000;
  text-align: left;
  color: rgb(240, 240, 240);
  line-height: 60px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}
#loglogo .fas{
  margin-right: 10px;
  color: #a5a917;
  font-size: 150%;
}

#sidebar, footer, #logo  {
  display: none;
}

#login {
  width:  auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  padding: 20px 30px;
  transform: translate(-50%, -50%)
}
.btn-primary{
  color: #fff;
  background-color: #a5a917;
  border-color: #a5a917;
 
}
.btn-primary:hover{
  color: #fff;
  background-color: #898d13;
  border-color: #898d13;
 
}
.input-group-prepend, .input-group-text {
  min-width: 80px; 
}
#login div {
  margin-bottom: 5px;
}
.field-icon {
  margin: 0px;
  position: relative;
  line-height: 24px;
}
.input-group-prepend, .input-group-text {
  min-width: 50px;
}
#forget {
  color: #a5a917;
  float: right;
  margin-top: -40px;
}
.cd-top {
  display: none;
}
a{
  color: #a5a917;
 
}

@media (max-width: 768px) {

  

#login {
   width: 400px!important;
   min-width:  400px!important;
   max-width: 100%
}
}