* {
  box-sizing: border-box;
 
}
html {
  overflow-y: scroll;
}
html, body {

}
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-areas:
  'logo login login login login login login'
  'nav section section section section section section'
  'footer  footer footer footer footer footer footer';
  grid-template-areas:
    'logo login login login login login login'
    'nav section section section section section section'
    'footer  footer footer footer footer footer footer';
  grid-gap: 0px;

}
 
body.full {
  display: grid;
  grid-template-areas:
    'logo login login login login login'
    'section section section section section section'
    'footer  footer footer footer footer footer';
  grid-gap: 0px;
}

#logo {
  grid-area: logo;
  background: #000;
  text-align: left;
  color: rgb(240, 240, 240);
 
  line-height: 80px;
 
  padding-left: calc(5%  );
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 5% center;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  max-width: 240px;
  min-width: 240px;
}
#logo .fas{
  margin-right: 10px;
  color: #a5a917;
  font-size: 150%;
}
#login {
  grid-area: login;
  background: #404040;
  padding: 0 25px;
  line-height: 80px;
  color: #e7e7e7;
  text-align: right;
  min-width: calc( 100vw - 19px - 240px );
}

footer {
  grid-area: footer;
  background: #404040;
  height: 100px;
  color: rgb(240, 240, 240);
  padding: 25px;
}

section {
  grid-area: section;
  padding: 25px;
  min-height: calc(100vh - 80px - 100px);
  position: relative;
}

#sidebar.active {
  display: none;
}

#sidebar {
  grid-area: nav;
  background: #a5a917;
  display: block;
  max-width: 240px;
  min-width: 240px;
}

.far span,
.fas span,
.fa span,
.fab span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

a.far:hover,
a.fas:hover,
a.fa:hover {
  text-decoration: none;
  font-weight: bold;
}

section .fa-user-circle {
  font-weight: 300;
}

section .fa-plus-circle, section .fa-user-edit, section  .fa-arrow-circle-left {
  font-size: 13px;
  float: right;
  position: absolute;
    right: 25px;
}

section .fa-plus-circle span, section .fa-user-edit span, section  .fa-arrow-circle-left span {
  padding-left: 0.3em;
}

a {
  color: #a5a917;
}

a:hover {
  color: #898d13;
}

header a {
  color: #fff
}

header a:hover {
  color: #c0c0c0
}

h1,
h1 {
  font-size: 1.5rem;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebarCollapse {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  background: #898d13;
  display: block;
  
}

nav a span {
  display: bllock-inline;
}

nav ul.components {
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: block;
  position: relative;
}

nav ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  clear: left;
  width: 100%;
  position: relative;
}

.lang1 {  
  position: absolute;
  right: 0;
  width: 2em;
  display: block;
  z-index: 1000;
  top: 0;
}

/*
nav ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #898d13;
}
*/
li.active a {
  background: #898d13;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #898d13;
}

nav ul li a:hover {
  color: #fff;
  background: #898d13 !important;
}

nav li a:before {
  margin-right: 10px;
}

h1 {
  color: #d1d61e;
  color: #fff;
  margin-top: -78px;
  margin-bottom: 55px;
  width: 70%;
}
.full h1 {
   margin-left: 25%;
}




/*
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}*/


section .fa-plus-circle, section .fa-user-edit , section  .fa-arrow-circle-left{
  font-size: 20px;
  left: 30px;
  z-index: 1000;
}
.around {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}
table td.center, table th.center {
  text-align: center;
}
table td.right, table th.right {
  text-align: right;
}

table td.short, table th.short {
  width: 60px;
}
table td.middle, table th.middle {
  width: 200px;
}
 
#pages .fa-unlock { color: #c0c0c0 }
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.06);
}
#logo a{
  color: #fff;
}

.input-group-prepend, .input-group-text {
   min-width: 200px; 
   z-index: 2;
}

#pagesnew .input-group-prepend,  #pagesnew .input-group-text {
   min-width: 160px;
}


.row fieldset {
  margin-bottom: 1em;
  min-height: 50px;
 
}
.row fieldset:nth-of-type(even) {
  padding-left: 2em!important;
  flex-grow: 1!important;
}
.row fieldset:nth-of-type(odd) {
  padding-right: 2em!important;
  flex-grow: 1!important;
}

.row .contentItem fieldset:nth-of-type(odd), 
.row .contentItem fieldset:nth-of-type(even), 
.row .myItem fieldset:nth-of-type(odd), 
.row .myItem fieldset:nth-of-type(even)
{
  padding-right: 10px!important;
  padding-left: 10px!important;
}


#home .row fieldset.col:nth-of-type(even) {
  flex-grow: 1!important;
}
#home fieldset.col:nth-of-type(odd) {
  flex-grow: 2!important;
}

.tab-pane {
  padding-top: 3em;
}
.sender {
  clear: both;
  padding-top: 2em;
  width: 100%;
  padding-left: 0;
}
.itembox{
  width: 80px;
  height: 100px;
  font-size: 40px;
  background: #e9ecef;
  text-align: center;
  position: relative;
  padding: 62px 10px 10px 10px!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
 
  color: #495057;
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}
.itembox:hover{
  cursor: pointer;
  background: #ebedf0;
  border: 1px solid #ced4da;
}
.itembox:before{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.itembox span{
  font-size: 13px;
  color: #404040;
  line-height: 12px!important;
  font-style: normal;
  display: block;
}

#noTextIco{
  display: none;
  clear: left;
  }

 .special strong {
   display: block;
   float: left;
   min-width: 170px;
   margin-right: 5px;
   line-height: 22px;
 } 
 .contentItem fieldset, .myItem fieldset {
  background: #f6f8fa;
  padding:  10px!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 2em;
 }
 .contentItem {
   clear: both;
   position: relative;
 }
 #myContents {
   position: fixed;
 }

#myTabContent {
  position:relative;
}

 .supercol {
   position: sticky;
 
   height: auto;
   right: 10px;
   top: 10px;
 
 }
 .mainclr {
   clear: both;
 }
 fieldset.col{
  
   position: relative;
 }
 .plus{

   cursor: pointer;
 }
 .newjob {
  clear: both;
  width: 100%;
  padding: 5px 0 10px 0;
 }
 .newjob .plus {
   float: none;
 }
 .hereActive , .hereActive:hover {
   background: #007bff!important;
   color: #fff!important;
   padding:   6px 16px 6px 6px!important;
   border-radius: 15px!important;
 }
 .service {
  width: 100px;
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 25px;
  text-align: right;
}
.noneorder{
  font-size: 25px;
  text-align: right;
}
.service a {
  cursor: pointer;
}
 
.contentItem fieldset  h5  , .myItem fieldset  h5  {
color: #495057;
text-align: center;
white-space: nowrap;
background-color: #e9ecef;
border-bottom: 1px solid #ced4da;
width: calc( 100% + 20px ) ;
text-align: left;
padding: 10px;
margin: -10px -10px 10px -10px;
} 
.contentItem fieldset  h5 span, .myItem fieldset  h5 span {
  margin-left: 10px;
}
.nic {
  display: inline-block;
  width: 22px;
  height: 16px;
}
 fieldset {
  position: relative;
 }
 .service2 {
   position: absolute;
   top: 8px;
   right: 110px;
 }
 .custom-file-label::after {
  content: "Vyber"!important;
}
input[type="file"].non-empty + label        { color: green; }
.input-group mb-3 {
  min-width: 100%;
}
.form-control input, .form-control select {
  width: 100%;
  border: none;
}

.form-control.two-inputs input {
  width: 48%;
}
.form-control.two-inputs input:first-of-type {
  border-right: 1px solid #ced4da;
}
.form-control.two-inputs select{
  width: 48%;
}
.form-control.two-inputs select:first-of-type {
  border-right: 1px solid #ced4da;
}

.form-control.three-inputs input {
  width: 33%;
}
.form-control.three-inputs select{
  width: 32%;
}
.galphoto {
  float: left;
  padding: 10px;
 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
 
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: 0 5px 5px 0;
} 

#toApp{
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e7e7e7;

}
a.aintable {
  display: block;
  padding: .45rem;
  height: 100%;
  text-decoration: none!important;
  color: #404040
  
}
a.aintable:hover {
  font-weight: bold;
  text-decoration: none!important;
  color: #000

}
td.tableina {
  padding: 0;
}
.table td, .table th {
  padding: .55rem;
  vertical-align: middle;
}
.input-group-append .input-group-text {
  min-width: auto;
}
.page-link:hover {
  z-index: 2;
  color: #0056b3!important;
  text-decoration: none;
  background-color: #e9ecef!important;
  border-color: #dee2e6!important;
}
.custom-file-label {
 
  left: 120px;
 
}
#cols3{
  position: fixed;
  top: 70px;
  right: 25px;
  z-index: 1000;
}
#honeypot {
  float: right;
  margin: 20px 20px 0 0;
  padding-left: 40px;
  background: url(../images/hpGreen.png) no-repeat left top;
  background-size: contain;
  display: block;
  line-height: 35px;
  position: relative;
  padding-top: 4px;
  transform: scale(0.7);
}
#honeypot:hover {
  color: #a5a917;
}
#honeypot span{
  font-size: 60%;
  position: absolute;
  top: -9px;
}
#tableOUT_filter input{
  border: 1px solid #c0c0c0;
}
table.dataTable thead .sorting {
  background-image: url('../images/sort_both.png')!important;
}
table.dataTable thead .sorting_asc {
  background-image: url('../images/sort_asc.png')!important;
}
table.dataTable thead .sorting_desc {
  background-image: url('../images/sort_desc.png')!important;
}
.dataTables_info {
  display: none;
}

table.dataTable thead {
  background: #8d8d8d!important;
  color: #fff!important;
}
#tableOUT th,td{
  font-size: 14px!important;
}

#tableOUT  input, #tableOUT   select {
  font-size: 12px!important;
}

#btnExport {
  background: #217346;
  color: #fff;
  padding: 10px 20px;
  margin-top: 25px;
  margin-left: 0px;
  border: 0;
  cursor:pointer;
  float: right;
}
  #btnExport:hover { 
     background: #278952
  }
 

  #btnExport {
    background: #217346;
    color: #fff;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: 0px;
    border: 0;
    cursor:pointer;
    float: right;
  }
    #btnExport:hover { 
       background: #278952
    }
    #btnExportW {
    background: #2b579a;
    color: #fff;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: 0px;
    border: 0;
    cursor:pointer;
    float: right;
    margin-left: 2px;
  }
    #btnExportW:hover { 
       background: #4076ca
    }
    #btnExportPDF {
    background: #a10707;
    color: #fff;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: 0px;
    border: 0;
    cursor:pointer;
    float: right;
    margin-left: 2px;
  }
    #btnExportPDF:hover { 
       background: #f31111
    }
  
  
  
   i em, a em {
     display: none;
   }
   thead th {
     background: #8d8d8d;
     color: #fff
   }
   .fa-check-circle, .fa-times-circle  {
    color: red;
}
 .closed {
    color: green
}
.gray {
  color: #c0c0c0;
}
.hodnoceni { margin-right: 2px; }
td.center{
  text-align: center!important;
}
th a{
  color: #000000!important
}
#tableOUT .auto {
  background: rgba(233,184,52,0.1);
}
a.hlep {
  color: white;
    background: #a5a917;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

td.automatic span {
  background: #8fb5f3;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  
}

a.hlep:hover{
  background: hsl(188, 76%, 29%);
  text-decoration: none;
}
.anotherpoints{
  text-align: right;
}
td.megatotal {
  font-size: 110%;
  font-weight: 700
}
td.megatotal i.visio {
  font-style: normal;
}

/* data teble hack */
table.dataTable thead th, table.dataTable thead td {
  padding:   .55rem  !important;  
  border-bottom: 0px solid #111!important;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  background-position: 95% 8px!important;
}
.btn-info {
  color: #fff;
  background-color: #a5a917!important;
  border-color: #898d13!important;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color: #a5a917!important;
  border-color: #76791f!important;
}
.btn-info.focus, .btn-info:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(136, 139, 31, 0.658);
}

.cols3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 30%;
  -moz-column-width: 30%!important;
  column-width: 30%;
}
.jump {
 
  clear: left;
}
 
i.rest, i.todo , i.amdone {
  font-size: 15px;
  line-height: 36px;
  width: 36px;
  display: inline-block;
  color: #fff;
  background: #0c5460;
  border-radius: 18px;
  text-align: center;
  font-style: normal;
}
i.rest {
  background: #721c24;
}
i.amdone {
  background: #155724;
}
.alert-link { text-decoration: underline; }
.alert-link:hover { text-decoration: none; }

.extra {
  clear: left;
}

table.categorycwe td:nth-of-type(3) {
  /*strategie */
  background: #d4e2ee !important;
  border-bottom-color: #99afc2 !important;
  min-width: 100px;
  text-align: right;
}
table.categorycwe td:nth-of-type(4) {
   /*komunita */
  background: #fdf5ed !important;
  border-bottom-color: #c4a98f !important;
  min-width: 100px;
  text-align: right;
}
table.categorycwe td:nth-of-type(5) {
   /*zivo */
   background: #ecfae4!important;
  border-bottom-color: #badba6 !important;
  min-width: 100px;
  text-align: right;
}
table.categorycwe td:nth-of-type(6) {
   /*HR */
  background: #fde9fd !important;
  border-bottom-color: #bd8bbd !important;
  min-width: 100px;
  text-align: right;
}
table.categorycwe td:nth-of-type(7) {
  /* Klienti */
 background:#ECF0F3 !important;
 border-bottom-color: rgb(173, 192, 206) !important;
 min-width: 100px;
 text-align: right;
}
table.categorycwe td:nth-of-type(8) {
  /* Klienti */
 
 min-width: 100px;
 text-align: right;
}
table.categorycwe td.hideme {
  opacity: 0.3
}

 td.hideme {
  opacity: 0.3;
}

/*button top */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  /*text-indent: 100%;*/
  white-space: nowrap;
  color: #fff;
  background-color: #a5a917!important;
  border-color: #898d13!important;
  visibility: hidden;
  opacity: 0;
  border: 1px solid transparent;
    text-align: center;
    line-height: 40px;
    border-radius: .25rem;
 
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  cursor: pointer;
  
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  color: #fff!important;

  border-color: #898d13;
  opacity: 1;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  color: #fff!important;
  background-color: #a5a917!important;
  border-color: #898d13!important;
  opacity: 1;
}
.cd-top:hover {
  color: #fff!important;
  background-color: #a5a917!important;
  border-color: #898d13!important;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    left: 190px;
    bottom: 36px;
  }
}



.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  opacity: .5;
}

/*button top end */



.demo-inline {
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);*/
  text-align: left;
  color: #626262;
  font-family: Lato;
  color: #626262;
  line-height: 1.3;
  font-size: 14px;
  background-color: #ffffff;
  text-align: left;
  vertical-align: top;
}
.demo-inline p{
    margin: 0 0;
}
.demo-inline textarea {
  display: none;
}
.demo-inline .demo-inline-content {
  padding: 20px;
  text-align: left;
  vertical-align: top;
}
.demo-inline *[contentEditable="true"]:focus,
.demo-inline *[contentEditable="true"]:hover {
  outline: 2px solid #a5a917;
}
.txtarea {
  clear: both;
  display: inline-block;
  width: 100%;
}
label.txtarea {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom-width: 0;
}
.fa-edit {
  color: #000;
  margin: 0 5px
}
a:hover .fa-edit {
  color: orange;
}
.fa-check-circle {
    color: orange;
}
 .closed {
    color: green
}
.fa-times-circle{
color: #c0c0c069;
}
a:hover .closed, a:hover  .fa-check-circle {
 font-weight: bold;
}
.center { text-align: center; }
.fa-sort{
  color: #898d13!important
}
.fa-sort:hover{
  color: #d1d61e!important;
  cursor: pointer;
}

.typeICO-IN {
  color: green
}
.typeICO-OUT {
  color: #dc3545 
}
.typeICO-BOTH {
  color: orange
}
.typeICO-NOT {
  color: #ced4da;
}
.tinymce-2change {
  position: relative;
}
.tinymce-2change:before {
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #dfdfdf;
  z-index: 1000;
  font-size: 10px;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 700; 
  content: "\f044";
}

.demo-inline *[contentEditable="true"]:focus:before ,
.demo-inline *[contentEditable="true"]:hover:before {
 color:  #a5a917;
}
.search-field input{
    height: 35px!important;
}
.chosen-container-multi .chosen-choices li.search-choice {
  margin: 10px 0 3px 5px;
}
a.color {
  color: #898d13!important;
}

nav ul li li a {
  padding: 2px 45px!important;
}
.chosen-container-single .chosen-single {
  line-height: 38px
}
.add {
  position: absolute;
  z-index: 1000;
}
.tabupper select{
  padding: 2px 4px 3px 4px;
}
.soupup {
  margin-top: -5px;
}
th a { color: white!important;}


.h5, h5 {
  width: 100%;
  font-size: 1.25rem;
  border-bottom: 1px dotted #898d13;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  clear: left;
  display: inline-block;
  color: #898d13;
}
#sidebarCollapse2 { display: none }




@media (max-width: 768px) {

  .table-responsive {
 
    width: 90vw;
   
  }

  body, body.full {
    display: -ms-grid;
    display: grid;
    -ms-grid-areas:
    'logo'
    'login'
    'nav'
    'section'
    'footer';
    grid-template-areas:
    'logo'
    'login'
    'nav'
    'section'
    'footer';
    grid-gap: 0px;
  
  }

  #logo  {
     width: 100%;
     max-width: 100%
  }
  #login span { display: none}
  #login {
    line-height: 40px;
    color: #e7e7e7;
    text-align: right;
}
#sidebar {
 
  display: block;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

h1 {
  color: #898d13;
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.full h1 {
   margin-left: 0;
}
#sidebarCollapse { display: none }
#sidebarCollapse2 { 
  display: block;
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 10px;
}  
.cd-top { margin-left: 10px; }
#honeypot { margin: 0; }
.input-group-prepend, .input-group-prepend span { width: 100% }

section .fa-plus-circle, section .fa-user-edit { display : none }

a.color {
  color: #898d13!important;
  clear: both;
  width: 100%;
}
.container , .container .row{  max-width: 100%; margin: 0; padding: 0 }
.container .row div.col-3 , .container .row div.col-9  {  margin: 0; padding: 0 ;
  width: 90vw;
  flex: 90%;
  max-width: 90vw;
}
 select {  max-width: 90vw;  width: 90vw; margin-bottom: 5px;}
}




#loading {
  position: fixed;
  z-index: 50;
  top: 0; left: 0;
  width: 100%; height: 100%;
background:transparent;
  line-height: 350px;
  text-align: center;
  font-size: 36px;
  color: #353231;
  text-indent: -9999px;
}
.v2 #loading { display: none; }

#progress-bar {
  position: absolute;
  top: 0; left: 0;
  background: #a5a917;
  opacity: 0.8;
  width: 0;
  height: 18px;
}
#loader {
/*background: url(http://dl.dropbox.com/u/13256471/fuzionpro/fuzionpro.png) no-repeat center 25%;*/
height: 100%;
display: block;
}





